{% macro album_display(_type, _objectList) %}

<div class="album py-5">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<div class="container">
		<h3 class="mb-4">
      {% if _type == 'artists' %}
        Artists
      {% elif _type == 'tracks' %}
        Tracks
      {% elif _type == 'releases' %}
        Releases
      {% elif _type == 'purchases' %}
        Purchases
      {% endif %}
    </h3>

    {% if _objectList is defined and _objectList|length > 0 %}

		<div class="row">
			{% for object in _objectList %}
	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid"

						{% if _type == 'artists' %}
							href="{{ url_for('artists.show_artist', artist_id=object.id) }}"
            {% elif _type == 'tracks' %}
              href="{{ url_for('tracks.show_track', track_id=object.id) }}"
            {% elif _type == 'releases' %}
              href="{{ url_for('releases.show_release', release_id=object.id) }}"
            {% elif _type == 'purchases' %}
              {% if object.type == 'release' %}
              href="{{ url_for('releases.show_release', release_id=object.type_id) }}"
              {% elif object.type == 'track' %}
                href="{{ url_for('tracks.show_track', track_id=object.type_id) }}"
              {% endif %}
						{% endif %}
						>
              <img class="img-fluid rounded"
				        {% if object.artist_picture is none and object.release_cover_art is none %}
				          id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}"
				        {% else %}
										{% if _type == 'artists' %}
											src="{{ object.artist_picture }}"
                    {% elif _type =='tracks' or _type == 'purchases' %}
                      src="{{ object.release_cover_art }}"
                    {% elif _type == 'releases' %}
                      src="{{ object.cover_art }}"
										{% endif %}
										onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'"
				        {% endif %}
              />
				    </a>
				</div>
	            <div class="card-body">
	              <p class="card-text">
	              	<div class="font-weight-bold">
										{% if _type == 'artists' %}
											{{ object.name }}
                    {% elif _type == 'tracks' %}
                      {{ object.track_name }}
                    {% elif _type == 'releases' %}
                      {{ object.release_name }}
                    {% elif _type == 'purchases' %}
                      {{ object.type_name }}
										{% endif %}
									</div>
									{% if _type == 'artists' %}
	              		<div>{{ object.country }}</div>
                  {% elif _type == 'tracks' or _type == 'releases' or _type == 'purchases' %}
                    <div>{{ object.artist_name }}</div>
									{% endif %}
                  {% if _type == 'tracks' or _type == 'releases' %}
                  <div>
	                	<small class="text-muted">{{ object.created_on.strftime('%B %Y') }}</small>
	              	</div>
                  {% endif %}
	              </p>
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">

                    {% if _type != 'purchases' or (_type == 'purchases' and not object.release_is_removed) %}
	                  <a type="button" class="btn btn-sm btn-outline-secondary"


                    {% if _type == 'artists' %}
                      href="{{ url_for('artists.show_artist', artist_id=object.id) }}"
                    {% elif _type == 'tracks' %}
                      href="{{ url_for('tracks.show_track', track_id=object.id) }}"
                    {% elif _type == 'releases' %}
                      href="{{ url_for('releases.show_release', release_id=object.id) }}"
                    {% elif _type == 'purchases' %}
                      {% if object.type == 'release' %}
                        href="/releases/{{ object.type_id }}"
                      {% elif object.type == 'track' %}
                        href="/tracks/{{ object.type_id }}"
                      {% endif %}
                    {% endif %}
                    >View</a>
                    {% endif %}

                    {% if _type == 'purchases' %}
                    <a type="button" id="{{ object.type_id }}" class="btn btn-sm btn-outline-secondary

                      {% if object.type == 'release' %}
                        download-release-btn
                      {% elif object.type == 'track' %}
                        download-track-btn
                      {% endif %}
                    ">Download</a>
                    {% endif %}
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
		</div>

		<div class="row">
			<div class="col">
			{% if (request.args.get('page')|int > 1) %}
				<a href="{{ scroll_previous_page() }}" class="btn btn-sm btn-outline-secondary" type="button" id ="previous-page-btn" value="Previous Page">Previous Page</a>
			{% endif %}

			{% if (_objectList|length == 10) %}
				<a href="{{ scroll_next_page() }}" class="btn btn-sm btn-outline-secondary" type="button" id="next-page-btn" value="Next Page">Next Page</a>
			{% endif %}

			</div>
		</div>
    {% else %}
      No available results to display.
    {% endif %}
	</div>
</div>

{% endmacro %}
