{% macro musicakes_dashboard(_object, _accepted_payment_tokens) %}

<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#manage-musicakes-modal" id="btn-manage-musicakes">
  Manage
</button>

<!-- Modal for Musicakes dashboard -->
<div class="modal fade" id="manage-musicakes-modal" tabindex="-1" role="dialog" aria-labelledby="#manage-musicakes-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage-musicakes-modal-title">Musicakes Dashboard</h5>
      </div>

      <div class="modal-body">
        <p id = "musicakes-contract-address-display">
          <span>Contract address: {{ _object.smart_contract_address }}</span>

          <span id = "musicakes-address"></span>
        </p>

        <p id = "musicakes-supply-display">
          <span>Total supply of Musicakes: </span>
          {{ fdt_total_supply }}
        </p>

        <p id = "user-token-balance-display">
          <span>Number of Musicakes held in this wallet: </span>
          <span id = "user-musicakes-balance"></span>
        </p>

		<p>Balance held in Musicakes contract (admin fees in bracket):</p>
        <div id = "musicakes-payment-token-display">
          {% for payment_token in accepted_payment_tokens %}
		  <p>{{ payment_token.symbol }}: {{ payment_token.balance }} ({{ payment_token.admin_fee_balance }})
		  </p>
		  {% endfor %}
        </div>

        <p>Dividends unclaimed:</p>
		<div id="account-unclaimed-dividends-display">
		  {% for payment_token in accepted_payment_tokens %}
		  <p>{{ payment_token.symbol }}:
			  <span data-address="{{ payment_token.address }}">

			  </span>
		  </p>
		  {% endfor %}
        </div>
      </div>

      <div class="modal-footer">

        <button type="button" id="btn-update-dividends" class="btn btn-sm btn-outline-secondary">Update Dividends</button>
        <button type="button" id="btn-claim-dividends" class="btn btn-sm btn-outline-secondary">Claim Dividends</button>

      </div>
    </div>
  </div>
</div>

{% endmacro %}
