{% macro release_info_display(_type, _object) %}

<div class="col-sm-3">

  <h3>
    {% if _type == 'track' %}
    {{ _object.track_name }}
    {% elif _type == 'release' %}
    {{ _object.release_name }}
    {% endif %}
  </h3>
  {% if _type == 'track' %}
  <p>
    <small>
      from <a href="{{ url_for('releases.show_release', release_id=_object.release_id) }}">{{ _object.release_name }}</a>
    </small>
  <p>
  {% endif %}
  <h5>
    Price: {{ _object.price }} DAI
  </h5>
</div>

<!-- proxy element to store and query payment token address for window.appConfig --->
<meta property="payment-token-address" content="{{ _object.payment_token_address }}">

<!-- proxy element to store and query release price for window.appConfig --->
<meta property="price" content="{{ _object.price }}">

<!-- proxy element to store and query release id for window.appConfig --->
<meta property="release-id" content="{{ _object.id }}">

<!-- proxy element to store and query smart contract address for window.appConfig --->
<meta property="smart-contract-address" content="{{ _object.smart_contract_address }}">

<!-- proxy element to store and query object type for window.appConfig --->
<meta property="object-type" content="{{ _type }}">

<script type="text/javascript">
  window.appConfig = {
    smart_contract_address: $('#smart_contract_address').data(),
    price: $('#price').data(),
    release_id: $('#release-id').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data(),
    object_type: $('#object-type').data()
  }
</script>

{% endmacro %}
