{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
      <h1>About Us</h1>
    </div>
</div>

<div class="container">
  <div class="row pt-4 mt-4">
    <div class="col">
      <p>
        Musicakes is a simple, experimental web application for artists to sell their music, and to tokenise the revenue streams from their music sold on this platform. Use this platform at your own risk!
      </p>
      <p>
      	In the future, we will be exploring other features such as artist/label tokens that can be sold in order to gain special privileges, such as access to exclusive content or the right to purchase limited edition merchandise (for those with a fervent fan base).
      </p>
      <p>
      	You can reach out to us at musicakes [dot] team [at] gmail [dot] com.
      </p>
    </div>
  </div>
</div>



{% endblock %}