{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

	<div class="w3-container">



		<div class = "w3-container">
			<h3>About us</h3>
			<h5>Musicakes is an experimental web application built by a one-man-team. Use it as your own risk!</h5>
			<br>
			<h5>You can reach out to us at musicakes [dot] team [at] gmail [dot] com.
		</div>

		

	</div>

{% endblock %}