{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="page-content-wrap">
	<div class="page-content-container">

		<h3>About us</h3>
		<div class="page-content-subcontainer">
			<span>Musicakes is an experimental web application built by a one-man-team. Use it as your own risk!</span>
		</div>

		<div class="page-content-subcontainer">
			<span>You can reach out to us at musicakes [dot] team [at] gmail [dot] com.</span>
		</div>
	</div>
</div>
{% endblock %}