{% extends 'layouts/layout.html' %}
{% block title %}Musicakes | Artists{% endblock %}
{% block content %}

<div class="album py-5">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<div class="container">
		<h3 class="mb-4">Artists</h3>

		<div class="row">
			{% for artist in artists %}
	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid" href="/artists/{{ artist.id }}">
				        {% if artist.artist_picture is none %}
				          <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				        {% else %}
				          <img class="img-fluid rounded" src="{{ artist.artist_picture }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'" />
				        {% endif %}
				    </a>
				</div>
	            <div class="card-body">
	              <p class="card-text">
	              	<div class="font-weight-bold">{{ artist.name }}</div>
	              	<div>{{ artist.country }}</div>
	              </p>
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/artists/{{ artist.id }}">View</a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
		</div>

		<div class="row">
			<div class="col">
			{% if (request.args.get('page')|int > 1) %}
				<button class="btn btn-sm btn-outline-secondary" type="button" id ="previous-page-btn" value="Previous Page">Previous Page</button>
			{% endif %}
			
			{% if (artists|length == 12) %}
				<button class="btn btn-sm btn-outline-secondary" type="button" id="next-page-btn" value="Next Page">Next Page</button>
			{% endif %}
			
			</div>
		</div>

	</div>

</div>


<script type="text/javascript">
  window.appConfig = {
    page: $('#page').data(),
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_tracks.js') }}"></script>


{% endblock %}