{% extends 'layouts/layout.html' %}
{% block title %}Musicakes | Artists{% endblock %}
{% block content %}
{% if userinfo %}
<div class="logged-in-box auth0-box logged-in">
    <h2>Current account: {{userinfo['username']}}</h2>
    <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
</div>
{% else %}
  <p>
  	<a href='/login'>Log In/Sign up</a>
  </p> 


{% endif %}
<ul class="items">
	{% if not artists %}
		<h2>There are no artists currently listed.</h2>
	{% endif %}
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}