{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="page-content-wrap">
	<div class = "page-content-container">
		<div>
		    <h2>Welcome back, {{ userinfo.username }}!</h2>
		</div>

		<div>

			<h3>Latest Releases</h3>

		</div>

		<div class="list-grid-container">

		{% for release in latest_releases %}

			<div class ="list-grid-item">

			    <div class="display-picture">
			    	<a href="/releases/{{ release.id }}">
				        {% if release.cover_art is none %}
				          <img id="preview" src="/static/img/musicakes.png" />
				        {% else %}
				          <img src="{{ release.cover_art }}" />
				        {% endif %}
				    </a>
			    </div>
			    <a href="/releases/{{ release.id }}"><h5>{{ release.artist_name}} - {{ release.release_name }}</h5></a>
			</div>
		{% endfor %}

		</div>
	</div>
</div>

{% endblock %}