{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class = "w3-container">
	<div class="logged-in-box auth0-box logged-in">
	    <h2>Welcome back, {{ userinfo.username }}!</h2>
	</div>

	<div class="w3-container">

		<h3>Latest Releases</h3>

		{% for release in latest_releases %}

		<div class="w3-block">

			<a href="/releases/{{ release.id }}">{{ release.artist_name}} - {{ release.release_name }}</a>

		</div>

	    <div class="display-picture">
	        {% if release.cover_art is none %}
	          <img id="preview" src="/static/img/musicakes.png" />
	        {% else %}
	          <img src="{{ release.cover_art }}" />
	        {% endif %}
	    </div>

		{% endfor %}

	</div>
</div>
{% endblock %}