{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<!-- Placeholder Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">

<div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Musicakes</h1>
      <h5 class="w3-padding-32">Musicakes allows you to tokenise the revenue stream from your music sales on this platform and distribute those tokens in whatever manner you desire.</h5>

      <p class="w3-text-grey">Each release will have its own token (called a Musicake). 100 Musicakes are created by default for each release. 2 Musicakes are transferred to a wallet address belonging to our platform as transaction fees (meaning we take a 2% fee), and the remaining 98 Musicakes are transferred to your wallet address.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{{ url_for('static', filename='img/98_2.png') }}" />
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>What can I do with Musicakes?</h1>
      <h5 class="w3-padding-32">There are countless possibilities with what you can achieve with Musicakes.</h5>

      <p class="w3-text-grey">If you are a label releasing a Various Artists compilation, you can equally split the revenue stream of that album by sending an equal amount of Musicakes to each contributing artist</p>

      <p class="w3-text-grey">If you co-produced an album with another artist, you can share the revenue stream of that album by transferring 49 Musicakes to the other artist.</p>
    </div>
  </div>
</div>

{% endblock %}