{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

{% if userinfo %}
<div class="logged-in-box auth0-box logged-in">
    <h2>Current account: {{userinfo['username']}}</h2>
    <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
</div>
{% else %}
  <p>
  	<a href='/login'>Log In/Sign up</a>
  </p> 


{% endif %}
{% endblock %}