{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

	<div class="w3-container">



		<div class = "w3-container">
			<h3>Privacy Policy</h3>
			<h5>Musicakes is integrated with Auth0 to handle authentication of your account. By registering an account with us, you consent to us collecting your email address, or your related identity information that was used to sign up with Auth0. Other than for authentication purposes, we do not use your email address, or your related identity information, in any other manner. We will also not share your data with any third parties. </h5>
			<br>
			<h5>If you have any concerns, or wish to access, rectify, restrict or erase your personal data, you can reach out to us at musicakes [dot] team [at] gmail [dot] com.
		</div>

		

	</div>

{% endblock %}