{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class = "w3-container">

	<div>

		<h4>Purchases: </h4>

		{% if (userinfo.purchased_releases is defined and userinfo.purchased_releases) or (userinfo.purchased_tracks is defined and userinfo.purchased_tracks) %}


			{% if (userinfo.purchased_releases is defined and userinfo.purchased_releases) %}
				<div>

					<h5> Releases</h5>

					{% for release in userinfo.purchased_releases %}
						<ol>

							<a href="../releases/{{ release.release_id }}">>{{ release.release_name }}</a> / <a href="/releases/{{ release.release_id }}/download">Download</a>

						</ol>
					{% endfor %}

				</div>

				<div>

			{% endif %}

			{% if (userinfo.purchased_tracks is defined and userinfo.purchased_tracks) %}

				<h5> Tracks</h5>

				{% for track in userinfo.purchased_tracks %}
					<ol>

						<a href="../tracks/{{ track.track_id }}">>{{ track.track_name }}</a> / <a href="/tracks/{{ track.track_id }}/download">Download</a>

					</ol>
				{% endfor %}
			{% endif %}
		</div>

		{% else %}

			<h4>You have not purchased any music yet.</h4>

		{% endif %}

	</div>
</div>


{% endblock %}