{% extends "layouts/layout.html" %}
{% block title %}{{ track.track_name }} | {{ artist.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
        <div class="display-picture">
            {% if artist.artist_picture is none %}
              <img id="preview" src="/static/img/musicakes.png" />
            {% else %}
              <img src="{{ artist.artist_picture }}" />
            {% endif %}
        </div>
        </div>

        <div class="col">
        <h5>
          {{ artist.name }}
        </h5>

        <p>
          {{ artist.country }}
        </p>

        <div class="d-flex flex-row">
          {% if artist.soundcloud_url|length > 0 %}
          <div class="artist-page-icon mr-2">
            

              <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F{{ artist.soundcloud_url }}&color=black_white&size=32"></iframe>

            
          </div>
          {% endif %}
          {% if artist.facebook_url|length > 0 %}
          <div class="artist-page-icon mr-2">
            

              <a href="{{ artist.facebook_url }}" target="_blank"><img id="facebook-icon" src="/static/img/fb_logo.png" /></a>

          </div>
          {% endif %}
          {% if artist.instagram_url|length > 0 %}
          <div class="artist-page-icon mr-2">

              <a href="{{ artist.instagram_url }}" target="_blank"><img id="instagram-icon" src="/static/img/glyph-logo_May2016.png" /></a>

          </div>
          {% endif %}
          
        </div>

      </div>
    </div>

    </div>

</div>

<div class="container mt-2 mb-5"> 
  <div class="row">
    <div class="col-sm-3" id="track-dashboard">

      <!-- proxy element to store and query ethereum chain ID for window.appConfig --->
      <meta id="chain_id" data-value="{{ chain_id }}">

      <!-- proxy element to store and query smart contract address for window.appConfig --->
      <meta id="smart_contract_address" data-value="{{ track.smart_contract_address }}">

      <!-- proxy element to store and query payment token address for window.appConfig --->
      <meta id="payment_token_address" data-value="{{ track.payment_token_address }}">

      <!-- proxy element to store and query track price for window.appConfig --->
      <meta id="price" data-value="{{ track.price }}">

      <!-- proxy element to store and query track id for window.appConfig --->
      <meta id="track-id" data-value="{{ track.id }}">        

      <!-- proxy element to store and query CSRF token for window.appConfig --->
      <meta id="csrf-token" data-value="{{ csrf_token() }}">   

      <div class = "release-cover-art justify-content-center mb-3">
          <img src={{ track.release_cover_art }} />
      </div>

      <h4>
        Track: {{ track.track_name }}
      </h4>

      <h4>
        Price: {{ track.price }} DAI
      </h4>

      <h4>
        Release: <a href="/releases/{{ track.release_id }}">{{ track.release_name }}</a>
      </h4>
   
      <p>
        Created on {{ track.created_on }}
      </p>


    </div>

    <div class="col-sm-3" id="smart-contract-dashboard">

      <div id = "user-dashboard">

        {% if track.smart_contract_address|length == 2 %}
          <h5>The smart contract has not been deployed yet.</h5>

        {% else %}

        <h5>User Dashboard</h5>

        <p>Current wallet: </p>
        <p id ="account-address"></p>

        <p>Current ETH balance: </p>
        <p id = "account-balance"></p>

        {% endif %}

        {% if userinfo and creator is true and track.smart_contract_address|length == 2 %}

        <form action="{{ url_for('show_release_for_deployment', release_id=track.release_id) }}">
          <input type="submit" value="Deploy Smart Contract" />
        </form>
        {% endif %}

        {% if track.smart_contract_address|length > 2 %}
        
        <p>Current DAI balance: </p>
        <p id ="payment-token-balance"></p>

        <p>
          <button id="enable-ethereum-button" class="btn btn-sm btn-outline-secondary">Connect your Metamask wallet</button>
        </p>

        {% if userinfo and userinfo.purchased is none %}

        <form action="" method="post" >
          <label for="pay-contract-amount">Buy track with DAI: </label>
          <div class="form-row">
            <p class="col-sm-2">
              <input type="number" class="form-control" id="pay-contract-amount" name='pay-contract-amount' value="{{ track.price }}" />
            </p>
          </div>
          <p>
            <button type="button" id="btn-pay-contract" class="btn btn-sm btn-outline-secondary">Buy now</button>
          </p>
        </form>

        {% elif userinfo and userinfo.purchased is not none %}
        
        <p>You have already purchased this track.</p>

        {% endif %}
        
      {% endif %}

      </div>

      {% if track.smart_contract_address|length > 2 %}

      <div id = "musicakes-dashboard" class="hidden">
        <h5>Musicakes Dashboard</h5>

        <p id = "musicakes-contract-address-display">
          <span>Contract address: {{ track.smart_contract_address }}</span>
          <span id = "musicakes-address"></span>
        </p>


        <p id = "musicakes-supply-display">
          <span>Total supply of Musicakes: </span>
          <span id = "musicakes-supply"></span>
        </p>

        <p id = "user-token-balance-display">
          <span>Number of Musicakes held in this wallet: </span>
          <span id = "user-musicakes-balance"></span>
        </p>

        <p id = "musicakes-payment-token-display">
          <span>DAI balance in Musicakes contract: </span>
          <span id = "musicakes-payment-token-balance"></span>
        </p>

        <p id="account-unclaimed-dividends-display">
          <span>Dividends unclaimed: </span>
          <span id="account-unclaimed-dividends"></span>
        </p>

        <p>
          <button type="button" id="btn-claim-dividends" class="btn btn-sm btn-outline-secondary">Claim Dividends</button>
        </p>

        <p>
          <button type="button" id="btn-update-dividends" class="btn btn-sm btn-outline-secondary">Update Dividends</button>
        </p>

      </div>

      <div id = "musicakes-management-dashboard"  class="hidden">

        <div>

          <h3>Transfer your Musicakes</h3>

        </div>

        
        <p>
            Address to transfer Musicakes: 
            <input type="text" class="form-control" id="transfer-musicakes-address">
        </p>
        <p>
            Number of Musicakes to transfer: 
            <div class="form-row">
              <p class="col-sm-2">
              <input type="text" class="form-control" id="transfer-musicakes-amount">
              </p>
            </div>
        </p>

        <p>
          
          <button type="button" id="btn-transfer-musicakes" class="btn btn-sm btn-outline-secondary">Transfer</button>
        </p>

      </div>


      <div>
        <p>
          <button class="button" id="btn-see-more">
          <p>
            <span class="arrow down" id="icon-see-more"></span>
            <span id ="text-see-more">  See more</span>
          </p>
          </button>
        </p>
      </div>
      {% endif %}
    </div>



    <div class="col-sm-3" id="release-dashboard-3">
      {% if track.youtube_embed_url is not none %}
      <div>
        <iframe id="ytplayer" type="text/html" width="360" height="240"
          src="{{ track.youtube_embed_url }}"
          frameborder="0"></iframe>
      </div>
      {% endif %}

      {% if track.purchasers|length > 0 %}
      <h5>
        Purchasers
      </h5>

      <div class="row">

          {% for purchaser in track.purchasers %}
          <div class="col">
            <a href="../users/{{ purchaser.user_id }}">
            <div class="display-picture-thumbnail">
            {% if purchaser.profile_picture is none %}
              <img id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}">
            {% else %}
              <img src="{{ purchaser.profile_picture }}" />
            {% endif %}
            </div>
            </a>
          </div>
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.5.1.min.js') }}"></script>

<script type="text/javascript">
  window.appConfig = {
    smart_contract_address: $('#smart_contract_address').data(),
    price: $('#price').data(),
    track_id: $('#track-id').data(),
    csrf_token: $('#csrf-token').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data()
  }
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/purchase_track.js') }}"></script>

{% endblock %}