{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>

	<div>
		<h4>
			Username: {{ userinfo.username }}
		</h4>

		<h4>
			Created on: {{ userinfo.created_on }}
		</h4>

		<h4>
			Artist profile: {% if userinfo.artist is defined %} {{ userinfo.artist}} {% else %} You have not created an artist profile {% endif %}
		</h4>

		<h4>Purchases: </h4>
		{% for release in userinfo.purchased_releases %}
			<ol>

				<a href="../releases/{{ release.release_id }}">>{{ release.release_name }}</a>

			</ol>
		{% endfor %}

	</div>
</div>


{% endblock %}