{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="page-content-wrap">

	<div class = "page-content-flex-container"> 
		<div class="page-content-flex-subcontainer">
			<div class="page-content-container">
				<h4>
					Username: {{ userinfo.username }}
				</h4>
				<h4>

					Profile Picture
				</h4>
			</div>

			<div class = "page-content-container">
				<div class = "profile-picture"> 
				{% if userinfo.profile_picture is none %}
					<img id="preview" src="/static/img/musicakes.png" />
				{% else %}
					<img src="{{ userinfo.profile_picture }}" />
				{% endif %}
				</div>
			</div>

			<div class = "page-content-container"> 
				<h4>
					Created on: {{ userinfo.created_on }}
				</h4>
			</div>
		</div>

		<div class="page-content-flex-subcontainer">
			<div class="page-content-container">
				<h4>Purchases: </h4>
				{% for release in user.purchased_releases %}
				<div class="list-grid-item">
					<div class="display-picture">
					{% if release.cover_art is none %}
						<img id="preview" src="/static/img/musicakes.png" />
					{% else %}
						<img src="{{ release.cover_art }}" />
					{% endif %}
					</div>
					<a href="../releases/{{ release.release_id }}">{{ release.release_name }}</a>
				</div>

				{% endfor %}
			</div>
		</div>
	</div>

</div>


{% endblock %}