{% extends "layouts/layout.html" %}

{% block content %}
<div class="album py-5">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<div class="container">

		<h3 class="mb-4">Purchases</h3>

		{% if (userinfo.purchased_releases is defined and userinfo.purchased_releases) or (userinfo.purchased_tracks is defined and userinfo.purchased_tracks) %}

		<div class="row">

		{% if (userinfo.purchased_releases is defined and userinfo.purchased_releases) %}

			{% for release in userinfo.purchased_releases %}
	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid" href="/releases/{{ release.id }}">
				        {% if release.cover_art is none %}
				          <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				        {% else %}
				          <img class="img-fluid rounded" src="{{ release.release_cover_art }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'" />
				        {% endif %}
				    </a>
				</div>
	            <div class="card-body">
	              <p class="card-text">
	              	<div class="font-weight-bold">{{ release.artist_name }}</div>
	              	<div class="card-text">{{ release.release_name }}</div>
	              </p>
	              
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/releases/{{ release.id }}">View</a>

	                  <a type="button" id="{{ release.release_id }}" class="btn btn-sm btn-outline-secondary download-release-btn">Download</a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>

			{% endfor %}




		{% endif %}


		{% if (userinfo.purchased_tracks is defined and userinfo.purchased_tracks) %}

			{% for track in userinfo.purchased_tracks %}

	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid" href="/tracks/{{ track.track_id }}">
				        {% if track.release_cover_art is none %}
				          <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				        {% else %}
				          <img class="img-fluid rounded" src="{{ track.release_cover_art }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'" />
				        {% endif %}
				    </a>
				</div>
	            <div class="card-body">
	              <p class="card-text">
	              	<div class="font-weight-bold">{{ track.artist_name }}</div>
	              	<div class="card-text">{{ track.track_name }}</div>
	              </p>
	              
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/tracks/{{ track.track_id }}">View</a>

	                  <a type="button" id="{{ track.track_id }}" class="btn btn-sm btn-outline-secondary download-track-btn">Download</a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
    	</div>
	{% endif %}


	{% else %}

		<h4>You have not purchased any music yet.</h4>

	{% endif %}
	</div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/download_purchase.js') }}"></script>

{% endblock %}