{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="page-content-wrap">

	<div class="page-content-flex-container">

		<div class="page-content-flex-subcontainer">
			<div class = "page-content-container">
				<h4>
					Artist: {{ artist.name }}
				</h4>

				<h4>
					Country: {{ artist.country }}
				</h4>

			    <div class="display-picture">
			        {% if artist.artist_picture is none %}
			          <img id="preview" src="/static/img/musicakes.png" />
			        {% else %}
			          <img src="{{ artist.artist_picture }}" />
			        {% endif %}
			    </div>
			</div>
			<div class="page-content-flex-container">
				{% if artist.soundcloud_url|length > 0 %}
				<div class="artist-page-icon">
					

						<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F{{ artist.soundcloud_url }}&color=orange_white&size=32"></iframe>

					
				</div>
				{% endif %}
				{% if artist.facebook_url|length > 0 %}
				<div class="artist-page-icon">
					

						<a href="{{ artist.facebook_url }}" target="_blank"><img id="facebook-icon" src="/static/img/f_logo_RGB-Blue_58.png" /></a>

				</div>
				{% endif %}
			</div>
		</div>

	    <div class="page-content-flex-subcontainer">
	    	<div class="page-content-container">
				<h4>Releases: </h4>
				{% if not artist.releases %}
					There are no releases currently listed.
				{% endif %}

			</div>
			<div class="page-content-container">
				<meta id="release-count" data-count="{{ artist.releases|length }}">
				<div class = "list-grid-container">


					{% for release in artist.releases %}
					<div class="list-grid-item">
					    <div class="display-picture">
					        {% if release.release_cover_art is none %}
					          <img id="preview" src="/static/img/musicakes.png" />
					        {% else %}
					          <img src="{{ release.release_cover_art }}" />
					        {% endif %}
					    </div>
						<a href="../releases/{{ release.release_id }}">{{ release.release_name }}</a>
					</div>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript">
  window.appConfig = {
    release_count: $('#release-count').data(),
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_artist.js') }}"></script>

{% endblock %}