{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>

	<div>

		<h4>Purchases: </h4>

		{% if (userinfo.purchased_releases is defined or userinfo.purchased_tracks is defined) %}

		<div>

			<h5> Releases</h5>

			{% for release in userinfo.purchased_releases %}
				<ol>

					<a href="../releases/{{ release.release_id }}">>{{ release.release_name }}</a>

				</ol>
			{% endfor %}

		</div>

		<div>

			<h5> Tracks</h5>

			{% for track in userinfo.purchased_tracks %}
				<ol>

					<a href="../tracks/{{ track.track_id }}">>{{ track.track_name }}</a>

				</ol>
			{% endfor %}

		</div>

		{% else %}

			<h4>You have not purchased any music yet.</h4>

		{% endif %}

	</div>
</div>


{% endblock %}