{% extends "layouts/layout.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Terms of Use</h1>
    </div>
</div>

<div class="container text-justify">
	<div class="row py-2 mt-2">
		<div class="col">

			<p>Musicakes is an experimental web application built by a one-man-team. Use it as your own risk! If you are in doubt after making a transaction, do not reattempt and reach out to us first. By using, visiting, accessing or registering with this website, you agree that we will not be responsible for any loss you may suffer or incur arising out of your use of Musicakes.</p>

			<p>You can reach out to us at musicakes [dot] team [at] gmail [dot] com.</p>
		</div>
	</div>
</div>

{% endblock %}