{% extends 'layouts/layout.html' %}
{% block title %}Musicakes | Tracks{% endblock %}
{% block content %}
<div class="page-content-wrap">
	<div class="page-content-container">
		<meta id="page" data-page="{{ request.args.get('page')|int }}">
		<h3>Tracks</h3>
			{% if not tracks %}
				<h2>There are no tracks currently listed.</h2>
			{% endif %}

		<div class="list-grid-container">
			{% for track in tracks %}
				
			<div class="list-grid-item">
			    <div class="display-picture">
			    	<a href="../tracks/{{ track.id }}">
				        {% if track.release_cover_art is none %}
				          <img id="preview" src="/static/img/musicakes.png" />
				        {% else %}
				          <img src="{{ track.release_cover_art }}" />
				        {% endif %}
				    </a>
			    </div>
				<a href="../tracks/{{ track.id }}"><h5>{{ track.artist_name }} - {{ track.track_name }}</h5></a>
			</div>
				
			{% endfor %}
		</div>
	</div>

	<div class="page-content-container">
		{% if (request.args.get('page')|int > 1) %}
	  <button type="button" id ="previous-page-btn" value="Previous Page">Previous Page</button>
	  	{% endif %}
	  	{% if (tracks|length == 10) %}
	  <button type="button" id="next-page-btn" value="Next Page">Next Page</button>
	  {% endif %}
	</div>
</div>

<script type="text/javascript">
  window.appConfig = {
    page: $('#page').data(),
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_tracks.js') }}"></script>

{% endblock %}