{% extends 'layouts/layout.html' %}
{% block title %}Musicakes | Tracks{% endblock %}
{% block content %}
{% if userinfo %}
<div class="logged-in-box auth0-box logged-in">
    <h2>Current account: {{userinfo['username']}}</h2>
    <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
</div>
{% else %}
  <p>
  	<a href='/login'>Log In/Sign up</a>
  </p> 


{% endif %}
<ul class="items">
	{% if not tracks %}
		<h2>There are no tracks currently listed.</h2>
	{% endif %}
	{% for track in tracks %}
	<li>
		
		<div class="item">
				<h5>{{ track.track_name }} - {{ track.artist_name }}</h5>
		</div>
		
	</li>
	{% endfor %}
</ul>
{% endblock %}