{% extends 'layouts/layout.html' %}
{% block title %}Musicakes | Tracks{% endblock %}
{% block content %}

<div class="w3-container">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<h3>Tracks</h3>
	<ul class="items">
		{% if not tracks %}
			<h2>There are no tracks currently listed.</h2>
		{% endif %}
		{% for track in tracks %}
		<li>
			
			<div class="item">
					<a href="../tracks/{{ track.id }}"><h5>{{ track.artist_name }} - {{ track.track_name }}</h5></a>
			</div>
			
		</li>
		{% endfor %}
	</ul>
</div>

<div class="w3-container">
	{% if (request.args.get('page')|int > 1) %}
  <button type="button" id ="previous-page-btn" value="Previous Page" class="btn btn-primary btn-lg btn-block">Previous Page</button>
  	{% endif %}
  	{% if (tracks|length == 10) %}
  <button type="button" id="next-page-btn" value="Next Page" class="btn btn-primary btn-lg btn-block">Next Page</button>
  {% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript">
  window.appConfig = {
    page: $('#page').data(),
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_tracks.js') }}"></script>

{% endblock %}