<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <!-- Navbar -->
    <div class="topnav">
        <div class="topnav-left">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/musicakes.png') }}" /></a>

        <a href="{{ url_for('get_artists') }}" class="topnav-main-item">Artists</a>
        <a href="{{ url_for('get_releases') }}" class="topnav-main-item">Releases</a>
        <a href="{{ url_for('get_tracks') }}" class="topnav-main-item">Tracks</a>
        {% if userinfo %}

          <div class="topnav-dropdown topnav-main-dropdown">
            
            <a class="topnav-main-item">{{userinfo['username']}}</a>
            <div class="topnav-dropdown-content topnav-main-dropdown-content">
              <a href="/account">View Account</a>
              <a href="/account/purchases">Purchases</a>


              {% if userinfo.artist_id is none %}
                <a href="/artists/create">Create Artist Profile</a>
                
              {% else %}
                <a href="/artists/{{ userinfo.artist_id }}">View Artist Profile</a>
                <a href="/artists/{{ userinfo.artist_id }}/edit">Edit Artist Profile</a>
                <a href="/releases/create">Create release</a>
              {% endif %}

            </div>
          </div>



          <a class="topnav-main-item" href="/logout">Logout</a>
          
          {% else %}

          <a href='/login' class="topnav-main-item">Log In/Sign up</a>

          {% endif %}
        </div>

        <div class="topnav-right">
          <div class="topnav-dropdown topnav-notification-dropdown topnav-right">
          <meta id="csrf-token" data-value="{{ csrf_token() }}">   
          <a href="#" class="topnav-main-item" id="pending-transactions-btn">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
            <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg>
          </a>
          <div class="topnav-dropdown-content topnav-notification-dropdown-content" id="pending-transactions-block">
            <a href="#">Placeholder</a>
          </div>


        </div>
      </div>

    </div>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    <div class="page-container">{% block content %}{% endblock %}</div>

    {% block footer %}
    <!-- Footer -->
    <div class="footer">  

        <a href="{{ url_for('show_about_us') }}">About Us</a>
        <a href="{{ url_for('show_faq') }}">FAQ</a>
        <a href="{{ url_for('show_terms_of_use') }}">Terms of Use</a>
        <a href="{{ url_for('show_privacy_policy') }}">Privacy Policy</a>

    </div>



    </footer>

    {% endblock %}

    <script type="text/javascript">
      window.appConfig = {
        csrf_token: $('#csrf-token').data(),
      }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-3.5.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pending_transactions.js') }}"></script>

    
  </body>
</html>