<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Calibri", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>

  </head>


  <body>

    <!-- Navbar -->
    <div class="w3-top">

        

      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>


        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white"><img src="{{ url_for('static', filename='img/musicakes.png') }}" /></a>

        <a href="{{ url_for('get_artists') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Artists</a>
        <a href="{{ url_for('get_releases') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Releases</a>
        <a href="{{ url_for('get_tracks') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tracks</a>
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>

        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
        <a href="{{ url_for('get_artists') }}" class="w3-bar-item w3-button w3-padding-large">Artists</a>
        <a href="{{ url_for('get_releases') }}" class="w3-bar-item w3-button w3-padding-large">Releases</a>
        <a href="{{ url_for('get_tracks') }}" class="w3-bar-item w3-button w3-padding-large">Tracks</a>
      </div>
    </div>

    <!-- Fixed navbar -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <h1>Welcome to Musicakes!</h1>
      

          <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'artists' %} class="active" {% endif %}><a href="{{ url_for('get_artists') }}">Artists</a></li>
            <li {% if request.endpoint == 'shows' %} class="active" {% endif %}><a href="{{ url_for('get_releases') }}">Releases</a></li>
            <li {% if request.endpoint == 'shows' %} class="active" {% endif %}><a href="{{ url_for('get_tracks') }}">Tracks</a></li>
          </ul>
        </div>
      </div>
    </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}






    <div id="content">{% block content %}{% endblock %}</div>




    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-3.5.1.min.js"><\/script>')</script>

    
  </body>
</html>