<!doctype html>
<html>
  <head>
    {% block head %}

    <title>{% block title %}Musicakes{% endblock %}</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- JS bundle w/ Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.1/web3.min.js" integrity="sha512-8Frac7ZdCMHBsKch6t/XEAKauXT1PXTgRGX/9NO3IzfLQ3QlTnr8ACRmJMOWPr3rxeCFpjUH+Hk7Y4v4zm825Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-3.6.0.min.js"><\/script>')</script>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/musicakes.png') }}" /></a>

      <!-- Menu expand/collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a class="nav-link" href="{{ url_for('artists.get_artists') }}">Artists</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="{{ url_for('releases.get_releases') }}">Releases</a>
          </li>
          <li class="nav-item ml-3 mr-5">
            <a class="nav-link" href="{{ url_for('tracks.get_tracks') }}">Tracks</a>
          </li>
        </ul>

          <form class="form-inline ml-5" onsubmit="return false;">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search" id='search-term'>
              <div class="input-group-prepend">
                <span class="input-group">
                  <button type="button" class="btn" id="search-btn">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  </svg>
                  </button>
                </span>
              </div>
            </div>
          </form>

        <ul class="navbar-nav ml-auto">
          <!-- Notifications -->

          {% if userinfo %}
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link" id="pending-transactions-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>

            </a>

            <div class="dropdown-menu" aria-labelledby="pending-transactions-btn" id="pending-transactions-block">

            </div>


          </li>
          {% endif %}

          {% if userinfo %}
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" id="dropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userinfo['username'] }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/account">View Account</a>
              <a class="dropdown-item" href="/account/purchases">Purchases</a>

              {% if userinfo.artist_id is none %}

              <a class="dropdown-item" href="/artists/create">Create Artist Profile</a>

              {% else %}

              <a class="dropdown-item" href="{{ url_for('artists.show_artist', artist_id=userinfo.artist_id) }}">View Artist Profile</a>
              <a class="dropdown-item" href="{{ url_for('artists.edit_artist', artist_id=userinfo.artist_id) }}">Edit Artist Profile</a>
              <a class="dropdown-item" href="{{ url_for('releases.create_release_presubmission_form') }}">Create Release</a>

              {% endif %}

            </div>
          </li>

          <li class="nav-item mr-auto">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          {% else %}

          <li class="nav-item mr-auto">
            <a class="nav-link" href='/login'>Log In/Sign up</a>
          </li>
          {% endif %}

          <meta id="csrf-token" data-value="{{ csrf_token() }}">

        </ul>

      </div>
    </div>
    </nav>

    <main role="main">

      <div class="page-container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    {% block footer %}
    <!-- Footer -->
    <footer class="container footer mt-5">

        <a href="{{ url_for('boilerplate.show_about_us') }}">About Us</a>
        <a href="{{ url_for('boilerplate.show_faq') }}">FAQ</a>
        <a href="{{ url_for('boilerplate.show_terms_of_use') }}">Terms of Use</a>
        <a href="{{ url_for('boilerplate.show_privacy_policy') }}">Privacy Policy</a>

    </footer>

    {% endblock %}

    <script type="text/javascript">
          window.appConfig = {
            csrf_token: $('#csrf-token').data(),
          }
    </script>

    <script type="text/javascript" src="{{ url_for('users.static', filename='js/pending_transactions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>

  </body>
</html>
