.navbar-header img {
	max-width: 124px;
	max-height: 100px;
	width: auto;
	height: auto;
}

.dashboard {
	float: left;
	clear: none;
}


#release-and-user-dashboard {
	width: 400px;
}

#footer {
	clear:both;
	position: absolute;
	bottom: 0;
}