body {
	padding-top: 6.2rem;
	font-family: "Calibri", sans-serif;
	background-color: #FFFAFA;
}

button {
	font-family: "Montserrat", sans-serif;
}

.jumbotron {
	background-color: #8d9db6;
}

.btn-primary {
	color: black;
	background-color: #bccad6;
	border-color: #8d9db6;
}

.btn-primary:hover, .btn-primary:disabled {
	color: rgba(0, 0, 0, 0.7);
	background-color: #8d9db6;
	border-color: #8d9db6;
}

.btn-outline-secondary:hover {
	color: rgba(0, 0, 0, 0.7);
	background-color: #8d9db6;
	border-color: #8d9db6;
}

.btn-outline-secondary:click {
	color: rgba(0, 0, 0, 0.7);
	background-color: #bccad6;
	border-color: #8d9db6;
}



/* Nav bar */

.navbar {
	background-color: #ede0e0;

}

.navbar-brand img {
	max-width: 75px;
	max-height: 75px;
	width: auto;
	height: auto;
}

.navbar-nav > li {
	padding-left: 15px;
	padding-right: 15px;
}

.dropdown-menu {
	background-color: #ede0e0;
}

.dropdown-item:hover {
	background-color: #FFFAFA;
}

#pending-transactions-btn:onclick .topnav-notification-dropdown-content {
	display: block;
}

/* Styles for page */

.page-container {
	position: relative;
	min-height: 70vh;
}

.page-content-wrap {
	padding-bottom: 1 rem;
}

.page-content-container {
	padding: 20px;
}

.page-content-subcontainer {
	padding-top:10px;
	padding-bottom:10px;
}

.page-content-flex-container {
	display: flex;
	flex-direction: row;
}

.page-content-flex-subcontainer {
	padding: 25px;
}

.border-right {
	border-color: #8d9db6;
}


.table-bordered {
	border-color: #8d9db6;
}

/* Artist page */

.artist-page-icon {
	max-width: 32px;
	max-height: 32px;
}

.artist-page-icon iframe, img {
	width: 100%;
	height: 100%;
}

.card {
	background-color:#FFFAFA;
}

/* Styles for grids */

.display-picture {
	height:200px;
	width:200px;
}

.display-picture img {
	height: 100%;
	width: 100%;
}

/* Placeholder div for release cover art on release page */

.card-img-top, .bd-placeholder-img {
	height: 148px;
	width: 148px;
}

.release-cover-art, .card-img-top img {
	max-width:100%;
	max-height:100%;
	width: 100%;
	height: 100%;
}

/* Divs for forms */

.release-text-input {
	resize: none;
	white-space: pre-wrap;
}

/* Styles for dashboards */

#musicakes-dashboard, #musicakes-management-dashboard {
	display: none;
}

#smart-contract-dashboard {
	min-width: 470px;
}

/* Styles for icons */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  	background-color: #FFFAFA;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

#btn-see-more {
	border: none;
	background: #FFFAFA;
	padding-right: 20px;

}

#text-see-more {
	white-space: pre;
}

/* Styles for footer */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align:center;
	clear:both;
	height: 1 rem;

}

.footer a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

