{% extends 'layouts/layout.html' %}
{% block title %}Edit your profile{% endblock %}
{% block content %}
<div class="page-content-wrap">

  <div class="page-content-container">
    <h4>
      Artist: {{ artist.name }}
    </h4>

    <h4>
      Country: {{ artist.country }}
    </h4>

    <meta id="artist-id" data-id="{{ artist.id }}">

    <div class="form-wrapper">
      <form method="post" class="form" onsubmit="return false">

        <div class="form-group">

          <div class="form-group">
            <label for="artist-picture-input"><h4>Artist Picture</h4></label>
            <input type="file" id="artist-picture-input" accept="image/png, image/jpg, image/jpeg">
            <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />

          </div>

        </div>
        <div class="display-picture">
        {% if artist.artist_picture is none %}
          <img id="preview" src="/static/img/musicakes.png" />
        {% else %}
          <img src="{{ artist.artist_picture }}" />
        {% endif %}
      </div>
      <br>
        <input type="button" id="edit-artist-btn" value="Update artist picture">
      </form>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript">
  window.appConfig = {
    artist_id: $('#artist-id').data(),
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/edit_artist.js') }}"></script>

{% endblock %}