{% extends 'layouts/layout.html' %}
{% block title %}Edit your profile{% endblock %}
{% block content %}

  <div class="form-wrapper">
    <form method="post" class="form" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">Create a user</h3>

      <div class="form-group">
          <label for="profile_picture">Profile Picture</label>
          {{ form.profile_picture(class = 'form-control-file') }}

      </div>

      <div>
        <img id="preview" src="/static/img/musicakes.png" />
      </div>

      <input type="submit" value="Update profile picture" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

{% endblock %}