{% extends 'layouts/layout.html' %}
{% block title %}Create a new release - Step 1{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">

        <h2>Create a new release</h2>
        <h4>Step 1 of 3: Select the number of tracks</h4>

      </div>

    </div>

  </div>

</div>

<div class = "container">

  <div class="row pt-4 mt-4">

    <div class="col">

      {% if userinfo.artist_name is none %} 
        
      <h4> You have not created an artist profile yet.</h4>


      {% else %} 


      <form method="post" onsubmit="return validateForm()" name="new_release">
        {{ form.hidden_tag() }}

        <div class="form-group row">
            <label for="track_count" class="col-sm-2 col-form-label">Number of tracks: </label>
            <div class="col-sm-2">
              {{ form.track_count(class_ = 'form-control', autofocus = true) }}
            </div>
        </div>

        <input type="submit" value="Create release" class="btn btn-sm btn-outline-secondary mt-3">
      </form>
      {% endif %}

    </div>
    

  </div>

</div>



{% endblock %}