{% extends 'layouts/layout.html' %}
{% block title %}Create an account{% endblock %}
{% block content %}

  <div class="form-wrapper">
    <form method="post" class="form">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">Create a user</h3>

      <div class="form-group">
          <label for="username">Username</label>
          {{ form.username(class_ = 'form-control', autofocus = true) }}
      </div>

      <input type="submit" value="Create an account" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

{% endblock %}