{% extends 'layouts/layout.html' %}
{% block title %}Create a new release{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">

        <h2>Create a new release</h2>
        <h4>Step 3 of 3: Deploy your Musicakes smart contract</h4>

      </div>
    </div>
  </div>
</div>

<div class = "container">

  <div class="row pt-4 mt-4">

    <div class="col">

      {% if userinfo.artist_name is none %}
      <h4> You have not created an artist profile yet.</h4>

      {% else %}

      <h4>
        Release: {{ release.release_name }}
      </h4>

      <h4>
        Artist: {{ release.artist_name }}
      </h4>
      <h4>
        Price: {{ release.price }}
      </h4>
      <h4>
        Tracks:
      </h4>

      <ol>
        {% for track in release.tracks %}
        <li><a href="../tracks/{{ track.track_id }}">{{ track.name }}</a></li>
        {% endfor %}
      </ol>

      <p>Created on: {{ release.created_on }}</p>


      <!-- proxy element to store and query release id for window.appConfig --->
      <meta property="release-id" content="{{ release.id }}">
      <meta property="contract-factory-address" content="{{ contract_factory_address }}">
	  <meta property="payment-token-address" content="{{ payment_token_address }}">

      <!-- proxy element to store and query ethereum chain ID for window.appConfig --->
      <meta property="chain-id" content="{{ chain_id }}">

      <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />

      <button type="button" value="Deploy contract" class="btn btn-sm btn-outline-secondary" id="deploy-contract-btn">Deploy smart contract</button>
      {% endif %}
    </div>
  </div>


</div>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
<script type="text/javascript" src="{{ url_for('releases.static', filename='js/deploy_release.js') }}"></script>
{% endblock %}
