{% extends "layouts/layout.html" %}
{% from 'macros/artist_jumbotron_macro.html' import artist_jumbotron with context %}
{% from 'macros/musicakes_dashboard_macro.html' import musicakes_dashboard with context %}
{% from 'macros/purchase_modal_macro.html' import purchase_modal with context %}


{% block title %}{{ release.release_name }} | {{ artist.name }}{% endblock %}
{% block content %}

{{ artist_jumbotron() }}

<div class="container mt-2 mb-5">
  <div class="row mb-3">

    <div class="col-sm-3">


      <h3>
        {{ release.release_name }}
      </h3>

      <h5>
        Price: {{ release.price }} DAI
      </h5>
    </div>
    <div class="col-xl-6">

      {% if release.smart_contract_address|length == 2 %}

        {% if userinfo and creator is true %}

        <form action="{{ url_for('releases.show_release_for_deployment', release_id=release.id) }}">
          <input type="submit" value="Deploy Smart Contract" class="btn btn-sm btn-outline-secondary" />
        </form>
        {% else %}

        <h4>This release is not available for purchase yet.</h4>
        <div>
          Please wait for the artist to deploy the smart contract.
        </div>

        {% endif %}

      {% else %}

      <!--
      <h5>User Dashboard</h5>


      <p>Current wallet: </p>
      <p id ="account-address"></p>

      <p>Current ETH balance: </p>
      <p id = "account-balance"></p>
      -->

      {% endif %}

      {% if release.smart_contract_address|length > 2 %}

        {% if userinfo and userinfo.has_purchased %}

        <a href="/account/purchases" type="button" class="btn btn-sm btn-outline-secondary">
          Download
        </a>
        {% else %}

        {{ purchase_modal('release', release, userinfo) }}

        {% endif %}
        <!--
        <p>Current DAI balance: </p>
        <p id ="payment-token-balance"></p>

        <p>
          <button id="enable-ethereum-button" class="btn btn-sm btn-outline-secondary">Connect your Metamask wallet</button>
        </p>
        -->

        <!-- Launch modal for Musicakes dashboard -->

        {{ musicakes_dashboard(release) }}

      {% endif %}

    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">

      <!-- proxy element to store and query ethereum chain ID for window.appConfig --->
      <meta id="chain_id" data-value="{{ chain_id }}">

      <!-- proxy element to store and query payment token address for window.appConfig --->
      <meta id="payment_token_address" data-value="{{ release.payment_token_address }}">

      <!-- proxy element to store and query release price for window.appConfig --->
      <meta id="price" data-value="{{ release.price }}">

      <!-- proxy element to store and query release id for window.appConfig --->
      <meta id="release-id" data-value="{{ release.id }}">

      <!-- proxy element to store and query smart contract address for window.appConfig --->
      <meta id="smart_contract_address" data-value="{{ release.smart_contract_address }}">

      <!-- proxy element to store and query artist wallet address for window.appConfig --->

      <meta id="artist_wallet_address" data-value="{{ artist.wallet_address }}">

      <div class = "release-cover-art justify-content-center mb-3">
          <img src={{ release.cover_art }} />
      </div>

      <div>

        <h5>
          Tracks
        </h5>

        <table>
          <tbody>
            {% for track in release.tracks %}
            <tr>
              <td>{{ loop.index }}. &nbsp;</td>
              <td><a href="../tracks/{{ track.track_id }}">{{ track.name }}</a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

      </div>


      <p>
        <pre>{{ release.description }}</pre>
      </p>
      <p>
        <small>Released on {{ release.created_on.strftime('%#d %B %Y') }}</small>
      </p>
    </div>



    <div class="col-xl-3" id="release-dashboard-3">
      {% if release.youtube_embed_url is not none %}
      <div>
        <iframe id="ytplayer" type="text/html" width="384" height="256"
          src="{{ release.youtube_embed_url }}"
          frameborder="0"></iframe>
      </div>
      {% endif %}

      {% if release.smart_contract_address|length != 2 and release.purchasers|length > 0 %}
      <h5>
        Purchasers
      </h5>

      <div class="row">

          {% for purchaser in release.purchasers %}
          <div class="col">
            <a href="../users/{{ purchaser.user_id }}">
            <div class="display-picture-thumbnail">
            {% if purchaser.profile_picture is none %}
              <img id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}">
            {% else %}
              <img src="{{ purchaser.profile_picture }}" />
            {% endif %}
            </div>
            </a>
          </div>
          {% endfor %}
        {% endif %}

      </div>


    </div>

  </div>
</div>



<script type="text/javascript">
  window.appConfig = {
    smart_contract_address: $('#smart_contract_address').data(),
    price: $('#price').data(),
    release_id: $('#release-id').data(),
    csrf_token: $('#csrf-token').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data(),
    artist_wallet_address: $('#artist_wallet_address').data()
  }
</script>


<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>
<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="{{ url_for('releases.static', filename='js/purchase_release.js') }}"></script>
<script type="text/javascript" src="{{ url_for('artists.static', filename='js/support_artist.js') }}"></script>


{% endblock %}
