{% extends "layouts/layout.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1>Welcome back, {{ userinfo.username }}!</h1>
    </div>

    <div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    </div>
</div>

<div id="releasesCarousel" class="carousel slide" data-ride="carousel">
  <div class="text-center my-4">
  <h3 class="mx-auto">Latest Releases</h3>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#releasesCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#releasesCarousel" data-slide-to="1"></li>
    <li data-target="#releasesCarousel" data-slide-to="2"></li>
    <li data-target="#releasesCarousel" data-slide-to="3"></li>
    <li data-target="#releasesCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    {% for release in latest_releases %}
    <div class="carousel-item{% if loop.index==1 %} active{% endif %}">
      <img class="d-block w-100 mx-auto" src="{{ release.cover_art }}">
      <div class="carousel-caption d-none d-md-block mt-4">
        <p class="font-weight-bold">{{ release.artist_name }}</p>
        <p>{{ release.release_name }}</p>
        <p>
          <small class="text-muted">{{ release.created_on.strftime('%B %Y') }}</small>
        </p>
        <div class="btn-group">
          <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('releases.show_release', release_id=release.id) }}">View</a>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#releasesCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#releasesCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
