{% extends "layouts/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class = "container">

	<div class="row pt-4 mt-4">
		<div class="col-md-2 border-right">

			<h4>
				Username
			</h4>

			<p>{{ userinfo.username }}</p>

			<h4>
				Profile Picture
			</h4>

			<div class = "display-picture my-4">
			{% if userinfo.profile_picture is none %}
				<img id="preview" src="/static/img/musicakes.png" />
			{% else %}
				<img src="{{ userinfo.profile_picture }}" />
			{% endif %}
			</div>


			<p>
				<a href="/account/edit" class="btn btn-sm btn-outline-secondary" type="button">Change profile picture</a>
			</p>


			<h4>
				Artist profile
			</h4>

			<p>{% if userinfo.artist_name is none %} You have not created an artist profile  {% else %} <a href ="../artists/{{ userinfo.artist_id }}">{{ userinfo.artist_name}}</a> {% endif %}</p>


			<small>
				Member since {{ userinfo.created_on }}
			</small>

		</div>

		<div class="col-md-10">

			<div>
				<ul class="nav nav-tabs flex-row">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-1">Purchases</a>
          </li>

					{% if userinfo.artist_id is not defined %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">Deployments</a>
          </li>
					{% endif %}

        </ul>
			</div>

		<div class="tab-content">
			<div class="tab-pane fade show active mt-3" id="tab-1">
				<div>
					<h4>Pending Transactions</h4>
					{% if pending_transactions|length > 0 %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Transaction Hash</th>
								<th scope="col">Purchase</th>
								<th scope="col">Submitted on</th>
								<th scope="col">Status</th>
								<th scope="col">Remove</th>
								<th scope="col">Refresh</th>
							</tr>
						</thead>
						<tbody>
						{% for pending_transaction in pending_transactions %}
							<tr>
								<td>{{ pending_transaction.transaction_hash }}</td>
								<td>{{ pending_transaction.purchase_description }}</td>
								<td>{{ pending_transaction.started_on }}</td>
								<td>Pending</td>
								<td style="text-align: center;">
									<a class="remove-txn-btn" href="#" data-transaction-hash="{{ pending_transaction.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
									</a>
								</td>
								<td style="text-align: center;">
									<a class="update-txn-btn" href="#" data-transaction-hash="{{ pending_transaction.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
									  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
									</svg>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>You do not have any pending purchases.</p>
					{% endif %}
				</div>

				<div>
					<h4>Latest Transactions</h4>
					{% if transaction_history|length > 0 %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Transaction Hash</th>
								<th scope="col">Purchase</th>
								<th scope="col">Submitted on</th>
								<th scope="col">Status</th>
								<th scope="col">Remove</th>
							</tr>
						</thead>
						<tbody>
						{% for transaction in transaction_history %}
							<tr>
								<td>{{ transaction.transaction_hash }}</td>
								<td>{{ transaction.purchase_description }}</td>
								<td>{{ transaction.started_on }}</td>
								<td>Confirmed</td>
								<td style="text-align: center;">
									<a class="remove-txn-btn" href="#" data-transaction-hash="{{ transaction.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>You have not made any purchases.</p>
					{% endif %}
				</div>
			</div>

			{% if userinfo.artist_id is not defined %}

			<div class="tab-pane fade mt-3" id="tab-2">
				<div>
					<h4>Pending Deployments</h4>
					{% if pending_deployments|length > 0 %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Transaction Hash</th>
								<th scope="col">Deployment</th>
								<th scope="col">Submitted on</th>
								<th scope="col">Status</th>
								<th scope="col">Remove</th>
								<th scope="col">Refresh</th>
							</tr>
						</thead>
						<tbody>
						{% for pending_deployment in pending_deployments %}
							<tr>
								<td>{{ pending_deployment.transaction_hash }}</td>
								<td>{{ pending_deployment.release_name }}</td>
								<td>{{ pending_deployment.started_on }}</td>
								<td>Pending</td>
								<td style="text-align: center;">
									<a class="remove-txn-btn" href="#" data-transaction-hash="{{ pending_deployment.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
									</a>
								</td>
								<td style="text-align: center;">
									<a class="update-txn-btn" href="#" data-transaction-hash="{{ pending_deployment.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
									  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
									</svg>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>You do not have any pending deployments.</p>
					{% endif %}
				</div>

				<div>
					<h4>Latest Deployments</h4>
					{% if deployment_history|length > 0 %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Transaction Hash</th>
								<th scope="col">Deployment</th>
								<th scope="col">Submitted on</th>
								<th scope="col">Status</th>
								<th scope="col">Remove</th>
							</tr>
						</thead>
						<tbody>
						{% for deployment in deployment_history %}
							<tr>
								<td>{{ deployment.transaction_hash }}</td>
								<td>{{ deployment.release_name }}</td>
								<td>{{ deployment.started_on }}</td>
								<td>Confirmed</td>
								<td style="text-align: center;">
									<a class="remove-txn-btn" href="#" data-transaction-hash="{{ deployment.transaction_hash }}">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>You have not made any deployments.</p>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>

	</div>




</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/show_account.js') }}"></script>
{% endblock %}
