{% extends "layouts/layout.html" %}
{% block title %}Musicakes | {{ artist.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
    	<div class="row">
    		<div class="col-xl-3">
				<div class="display-picture">
				    {% if artist.artist_picture is none %}
				      <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				    {% else %}
				      <img class="img-fluid" src="{{ artist.artist_picture }}" />
				    {% endif %}
				</div>
    		</div>

    		<div class="col-sm-3">
    			<div class="d-flex flex-row">
					<h4 class="mr-5">
						{{ artist.name }}
					</h4>

		            {% if artist.wallet_address %}

		            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#support-artist-modal">
		              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gift" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		                <path fill-rule="evenodd" d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
		              </svg>
		            </button>

		            {% endif %}
		        </div>

				<p>
					{{ artist.country }}
				</p>

				<div class="d-flex flex-row">
					{% if artist.soundcloud_url|length > 0 %}
					<div class="artist-page-icon mr-2">
						

							<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F{{ artist.soundcloud_url }}&color=black_white&size=32"></iframe>

						
					</div>
					{% endif %}
					{% if artist.facebook_url|length > 0 %}
					<div class="artist-page-icon mr-2">
						

							<a href="{{ artist.facebook_url }}" target="_blank"><img id="facebook-icon" src="/static/img/fb_logo.png" /></a>

					</div>
					{% endif %}
					{% if artist.instagram_url|length > 0 %}
					<div class="artist-page-icon mr-2">

							<a href="{{ artist.instagram_url }}" target="_blank"><img id="instagram-icon" src="/static/img/glyph-logo_May2016.png" /></a>

					</div>
					{% endif %}
					
				</div>

			</div>
		</div>

    </div>

</div>

<div class="album py-5">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<div class="container">
		<h3 class="mb-4">Releases</h3>

		{% if not artist.releases %}
		<p>There are no releases currently listed.</p>
		{% endif %}


		<div class="row">
			{% for release in artist.releases %}
	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid" href="/releases/{{ release.release_id }}">
				        {% if release.release_cover_art is none %}
				          <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				        {% else %}
				          <img class="img-fluid rounded" src="{{ release.release_cover_art }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'" />
				        {% endif %}
				    </a>
				</div>
	            <div class="card-body">
	            	<p class="card-text">
	            		<div class="font-weight-bold">{{ release.release_name }}</div>
	            		<div>{{ release.artist_name }}</div>
	            		<div><small class="text-muted">{{ release.created_on.strftime('%B %Y') }}</small></div>
	            	</p>

	            	<div class="d-flex justify-content-between align-items-center">
		                <div class="btn-group">
		                  	<a type="button" class="btn btn-sm btn-outline-secondary" href="/releases/{{ release.release_id }}">View</a>
		                
							{% if userinfo and creator is true %} 
							<a type="button" class="btn btn-sm btn-outline-secondary" href="../releases/{{ release.release_id }}/edit" class="button">Edit release</a>
							{% endif %}
		                </div>

	              </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
		</div>

	</div>

</div>

<!-- proxy element to store and query ethereum chain ID for window.appConfig --->
<meta id="chain_id" data-value="{{ chain_id }}">

<!-- proxy element to store and query payment token address for window.appConfig --->
<meta id="payment_token_address" data-value="{{ payment_token_address }}">

<!-- proxy element to store and query artist wallet address for window.appConfig --->

<meta id="artist_wallet_address" data-value="{{ artist.wallet_address }}">

<!-- Modal for support artist -->

<div class="modal fade" id="support-artist-modal" tabindex="-1" role="dialog" aria-labelledby="#support-artist-modal-title" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="support-artist-modal-title">Support Artist with DAI</h5>
    </div>
    
    <div class="modal-body">
      <form action="" method="post" >

      <label for="support-artist-amount">Amount: </label>
      <div class="form-row">
        <p class="col-sm-2">
          <input type="number" class="form-control" id="support-artist-amount" name='support-artist-amount' />
        </p>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" id="btn-support-artist" class="btn btn-sm btn-outline-secondary">Send to artist</button>

    </form>
    </div>

  </div>
</div>
</div>

<script type="text/javascript">
  window.appConfig = {
    release_count: $('#release-count').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data(),
    artist_wallet_address: $('#artist_wallet_address').data()
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/show_artist.js') }}"></script>

{% endblock %}