{% extends 'layouts/layout.html' %}
{% block title %}Edit your profile{% endblock %}
{% block content %}

<div class = "container">

  <div class="row pt-4 mt-4">
    <div class="col">

      <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h3 class="form-heading">Edit profile picture</h3>

        <p> Current Profile Picture

        <div class="my-3 card-img-top">

          {% if userinfo.profile_picture is none %}
            <img src="/static/img/musicakes.png" id="image-preview" />
          {% else %}
            <img src="{{ userinfo.profile_picture }}" id="image-preview" />
          {% endif %}

        </div>

        <div class="form-group">
            <label for="profile_picture"></label>
            {{ form.profile_picture(class = 'form-control-file') }}

        </div>

        <input type="submit" value="Update profile picture" class="btn btn-sm btn-outline-secondary mt-3">
      </form>

    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/image_preview.js') }}"></script>
{% endblock %}
