{% extends 'layouts/bare.html' %}
{% block title %}Create an account{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="col-sm-3 align-self-center">
      <h3>Create a user</h3>

      <form method="post" class="form" onsubmit="return validateForm()" name="new_user">
        {{ form.hidden_tag() }}
      
        <label for="username">Username</label>
        <p>
          {{ form.username(class_ = 'form-control', autofocus = true) }}
        </p>

      <p>
        <input type="submit" value="Create an account" class="btn btn-sm btn-outline-secondary">
      </p>

      <p>
        {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
        {% endfor %}
      </p>


      </form>
    </div>

  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/new_user.js') }}"></script>


{% endblock %}