{% extends 'layouts/layout.html' %}
{% block title %}Create a new release{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">

        <h2>Create a new release</h2>
        <h4>Step 2 of 3: Upload your release's information and tracks</h4>

      </div>
    </div>
  </div>
</div>


<div class = "container">

  <div class="row pt-4 mt-4">

    <div class="col">
    {% if userinfo.artist_name is none %}

      <h4> You have not created an artist profile yet.</h4>

      {% else %}

      <form name="new_release" onsubmit="return false">

        <fieldset id="tracks-information">
          <legend>Release information</legend>
          <div class="form-group row mt-5">

            <label for="release_name" class="col-sm-2 col-form-label">Name of release</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="release-name-input" minlength="1" maxlength="100">
              <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />
            </div>
          </div>

          <div class="form-group row">

            <label for="release_cover_art" class="col-sm-2 col-form-label">Cover Art</label>

            <div class="col-sm-4">
              <input type="file" id="release-cover-art-input" accept="image/png, image/jpg, image/jpeg">

            </div>
          </div>

          <div class="form-group row">

            <label for="release_text" class="col-sm-2 col-form-label">Description of release</label>

            <div class="col-sm-4">
              <textarea id="release-text-input" class="release-text-input form-control" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group row">

            <label for="release_price" class="col-sm-2 col-form-label">Price of release</label>

            <div class="col-sm-1">
              <input type="number" class="form-control" id="release-price-input" value="1" min="1" max="100">
            </div>
          </div>

        </fieldset>

    </div>
  </div>
</div>

<div class = "container">

  <div class="row pt-4 mt-4">

    <div class="col">
      <fieldset class="track-count-group">
        <legend>Track(s) information</legend>

        <div class="form-group row">
          <label for="track-name-input-1" class="col-sm-4 col-form-label">Track name</label>
          <label for="track-file-1"></label>
          <label for="track_price-1" class="col-sm-2 col-form-label">Track price</label>
          <label for="upload-progress-1" class="col-sm-2 offset-sm-2 col-form-label">Upload progress</label>
        </div>

        <div class="form-group row">

          <div class="col-sm-4">
            <input type="text" class="form-control" id="track-name-input-1" minlength="1" maxlength="100">
          </div>
          <div class="col-sm-1">
            <input type="number" class="form-control" id="track-price-input-1" value="1" min="1" max="100">
          </div>
          <div class="col-sm-2">
            <input type="file" id="track-file-input-1" accept="audo/wav">
          </div>
          <div class="col-sm-2 offset-sm-1">
            <progress id="upload-progress-1" value="0" max="100">0%</progress>
          </div>
        </div>
      </fieldset>

      {% for track_number in track_count %}

      <fieldset class="track-count-group">
        <div class="form-group row">

          <div class="col-sm-4">
            <label for="track-name-input-{{track_number}}"></label>
            <input type="text" class="form-control" id="track-name-input-{{track_number}}" minlength="1" maxlength="100">
          </div>

          <div class="col-sm-1">
            <label for="track_price-input-{{track_number}}"></label>
            <input type="number" class="form-control" id="track-price-input-{{track_number}}" value="1" min="1" max="100">
          </div>

          <div class="col-sm-2">
            <label for="track-file-input-{{track_number}}"></label>
            <input type="file" id="track-file-input-{{track_number}}" accept="audo/wav">
          </div>

          <div class="col-sm-2 offset-sm-1">
            <label for="upload-progress-{{track_number}}"></label>
            <progress id="upload-progress-{{track_number}}" value="0" max="100">0%</progress>
          </div>
        </div>

      </fieldset>

      {% endfor %}

    </div>
  </div>
</div>

<div class = "container">

  <div class="row py-4 my-4">

    <div class="col text-center">
      <button type="button" class="btn btn-sm btn-outline-secondary" value="Back" onclick="window.location='/releases/create';">Back</button>
      <button type="submit" class="btn btn-sm btn-outline-secondary" value="Create release" id="create-release-btn">Create release</button>
      </form>

    </div>
  </div>
</div>

{% endif %}

</div>

<script type="text/javascript" src="{{ url_for('releases.static', filename='js/new_release.js') }}"></script>

{% endblock %}
