body {
	padding-top: 6.2rem;
	font-family: "Nunito Sans", "Calibri", sans-serif;
	background-color: #FFFAFA;
}

button {
	font-family: "Montserrat", sans-serif;
}

.jumbotron {
	background-color: #8d9db6;
	padding: 25px
}

.btn-primary {
	color: black;
	background-color: #bccad6;
	border-color: #8d9db6;
}

.btn-primary:hover, .btn-primary:disabled {
	color: rgba(0, 0, 0, 0.7);
	background-color: #8d9db6;
	border-color: #8d9db6;
}

.btn-outline-secondary:hover {
	color: rgba(0, 0, 0, 0.7);
	background-color: #8d9db6;
	border-color: #8d9db6;
}

.btn-outline-secondary:click {
	color: rgba(0, 0, 0, 0.7);
	background-color: #bccad6;
	border-color: #8d9db6;
}

.nav-item > a {
	background-color: #ede0e0;
	color: black;
}

.nav-item-tab > a {
	background-color: #FFFAFA;
	color: rgba(0, 0, 0, 0.7);
}

.nav-item-tab .nav-link.active {
	background-color: #ede0e0;
	color: black;
}


/* Nav bar */

.navbar {
	background-color: #ede0e0;

}

.navbar-brand img {
	max-width: 75px;
	max-height: 75px;
	width: auto;
	height: auto;
}

.navbar-nav > li {
	padding-left: 15px;
	padding-right: 15px;
}

.dropdown-menu {
	background-color: #ede0e0;
}

.dropdown-item:hover {
	background-color: #FFFAFA;
}

#pending-transactions-btn:onclick .topnav-notification-dropdown-content {
	display: block;
}

/* Styles for page */

.page-container {
	position: relative;
	min-height: 70vh;
}

.border-right {
	border-color: #8d9db6;
}


.table-bordered {
	border-color: #8d9db6;
}


.card {
	max-width:192px;

}

.card-img-top, .bd-placeholder-img {
	height: 192px;
	width: 192px;
}

/* Artist page */

.artist-page-icon {
	max-width: 32px;
	max-height: 32px;
}

.artist-page-icon iframe, img {
	width: 100%;
	height: 100%;
}

.card {
	background-color:#FFFAFA;
	border: none;
}

/* Styles for image placeholders */

.display-picture {
	height:128px;
	width:128px;
	position: relative;
}

.display-picture img {
	height: 100%;
	width: 100%;
}

.display-picture-thumbnail {
	width: 40px;
	height: 40px;
}

.display-picture-thumbnail > img {
	height: 100%;
	width: 100%;
}

.release-cover-art {
	height: 256px;
	width: 256px;
}

.card-img-top img {
	max-width:100%;
	max-height:100%;
	width: 100%;
	height: 100%;
}

.upload-img-btn {
	position: absolute;
	bottom: 1%;
	right: 1%;
	transform: translate(1%, 1%);
	-ms-transform: translate(1%, 1%);
	background-color: #ede0e0;
	border: 1px solid;
	padding: 2px 2px;
	cursor: pointer;
}

#image-input {
	display: none;
}

/* Divs for forms */

.release-text-input {
	resize: none;
	white-space: pre-wrap;
}

/* Styles for footer */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align:center;
	clear:both;
	height: 1 rem;

}

.footer a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
