{% extends "layouts/layout.html" %}
{% from 'macros/artist_jumbotron_macro.html' import artist_jumbotron with context %}
{% from 'macros/musicakes_dashboard_macro.html' import musicakes_dashboard with context %}
{% from 'macros/purchase_modal_macro.html' import purchase_modal with context %}
{% block title %}{{ track.track_name }} | {{ artist.name }}{% endblock %}
{% block content %}

{{ artist_jumbotron() }}

<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-sm-3">

      <h3>
        {{ track.track_name }}
      </h3>
      <p>
        <small>
          from <a href="{{ url_for('releases.show_release', release_id=track.release_id) }}">{{ track.release_name }}</a>
        </small>
      <p>
      <h5>
        Price: {{ track.price }} DAI
      </h5>
    </div>

    <div class="col-xl-6">

      {% if track.smart_contract_address|length == 2 %}

        {% if userinfo and creator is true %}

        <form action="{{ url_for('releases.show_release_for_deployment', release_id=track.release_id) }}">
          <input type="submit" class="btn btn-sm btn-outline-secondary" value="Deploy Smart Contract" />
        </form>
        {% else %}

        <h4>This track is not available for purchase yet.</h4>
        <div>
          Please wait for the artist to deploy the smart contract.
        </div>

        {% endif %}

      {% else %}

      <!--

      <h5>User Dashboard</h5>

      <p>Current wallet: </p>
      <p id ="account-address"></p>

      <p>Current ETH balance: </p>
      <p id = "account-balance"></p>

      -->

      {% endif %}

      {% if track.smart_contract_address|length > 2 %}


        {% if userinfo and userinfo.has_purchased is true %}

        <a href="/account/purchases" type="button" class="btn btn-sm btn-outline-secondary">
          Download
        </a>

        {% else %}

        {{ purchase_modal('track', track) }}

        {% endif %}

        <!--
        <p>Current DAI balance: </p>
        <p id ="payment-token-balance"></p>

        <p>
          <button id="enable-ethereum-button" class="btn btn-sm btn-outline-secondary">Connect your Metamask wallet</button>
        </p>
        -->

        {{ musicakes_dashboard(track) }}

      {% endif %}




    </div>
  </div>

  <div class="row">
    <div class="col-xl-3">

      <!-- proxy element to store and query ethereum chain ID for window.appConfig --->
      <meta id="chain_id" data-value="{{ chain_id }}">

      <!-- proxy element to store and query smart contract address for window.appConfig --->
      <meta id="smart_contract_address" data-value="{{ track.smart_contract_address }}">

      <!-- proxy element to store and query payment token address for window.appConfig --->
      <meta id="payment_token_address" data-value="{{ track.payment_token_address }}">

      <!-- proxy element to store and query track price for window.appConfig --->
      <meta id="price" data-value="{{ track.price }}">

      <!-- proxy element to store and query track id for window.appConfig --->
      <meta id="track-id" data-value="{{ track.id }}">

      <!-- proxy element to store and query CSRF token for window.appConfig --->
      <meta id="csrf-token" data-value="{{ csrf_token() }}">

      <!-- proxy element to store and query artist wallet address for window.appConfig --->

      <meta id="artist_wallet_address" data-value="{{ artist.wallet_address }}">

      <div class = "release-cover-art justify-content-center mb-3">
          <img src={{ track.release_cover_art }} />
      </div>

      <p>
        <small>Released on {{ track.created_on.strftime('%#d %B %Y') }}</small>
      </p>
    </div>




    <div class="col-xl-3" id="release-dashboard-3">
      {% if track.youtube_embed_url is not none %}
      <div>
        <iframe id="ytplayer" type="text/html" width="384" height="256"
          src="{{ track.youtube_embed_url }}"
          frameborder="0"></iframe>
      </div>
      {% endif %}

      {% if track.purchasers|length > 0 %}
      <h5>
        Purchasers
      </h5>

      <div class="row">

          {% for purchaser in track.purchasers %}
          <div class="col">
            <a href="../users/{{ purchaser.user_id }}">
            <div class="display-picture-thumbnail">
            {% if purchaser.profile_picture is none %}
              <img id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}">
            {% else %}
              <img src="{{ purchaser.profile_picture }}" />
            {% endif %}
            </div>
            </a>
          </div>
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  window.appConfig = {
    smart_contract_address: $('#smart_contract_address').data(),
    price: $('#price').data(),
    track_id: $('#track-id').data(),
    csrf_token: $('#csrf-token').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data(),
    artist_wallet_address: $('#artist_wallet_address').data()
  }
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<script type="text/javascript" src="{{ url_for('tracks.static', filename='js/purchase_track.js') }}"></script>
<script type="text/javascript" src="{{ url_for('artists.static', filename='js/support_artist.js') }}"></script>

{% endblock %}
