{% extends "layouts/layout.html" %}
{% from 'macros/artist_jumbotron_macro.html' import artist_jumbotron with context %}
{% from 'macros/musicakes_dashboard_macro.html' import musicakes_dashboard with context %}
{% from 'macros/purchase_modal_macro.html' import purchase_modal with context %}
{% from 'macros/youtube_embed_macro.html' import youtube_embed with context %}
{% from 'macros/display_purchasers_macro.html' import display_purchasers with context %}
{% from 'macros/release_info_display_macro.html' import release_info_display with context %}

{% block title %}{{ track.track_name }} | {{ artist.name }}{% endblock %}
{% block content %}

{{ artist_jumbotron() }}

<div class="container mt-2 mb-5">
  <div class="row">

    {{ release_info_display('track', track) }}

    <div class="col-xl-6">

      {% if track.smart_contract_address|length == 2 %}

        {% if userinfo and creator is true %}

        <form action="{{ url_for('releases.show_release_for_deployment', release_id=track.release_id) }}">
          <input type="submit" class="btn btn-sm btn-outline-secondary" value="Deploy Smart Contract" />
        </form>
        {% else %}

        <h4>This track is not available for purchase yet.</h4>
        <div>
          Please wait for the artist to deploy the smart contract.
        </div>

        {% endif %}

      {% else %}

      <!--

      <h5>User Dashboard</h5>

      <p>Current wallet: </p>
      <p id ="account-address"></p>

      <p>Current ETH balance: </p>
      <p id = "account-balance"></p>

      -->

      {% endif %}

      {% if track.smart_contract_address|length > 2 %}


        {% if userinfo and userinfo.has_purchased is true %}

        <a href="/account/purchases" type="button" class="btn btn-sm btn-outline-secondary">
          Download
        </a>

        {% else %}

        {{ purchase_modal('track', track) }}

        {% endif %}

        <!--
        <p>Current DAI balance: </p>
        <p id ="payment-token-balance"></p>

        <p>
          <button id="enable-ethereum-button" class="btn btn-sm btn-outline-secondary">Connect your Metamask wallet</button>
        </p>
        -->

        {{ musicakes_dashboard(track) }}

      {% endif %}

    </div>
  </div>

  <div class="row">
    <div class="col-xl-3">

      <!-- proxy element to store and query ethereum chain ID for window.appConfig --->
      <meta id="chain_id" data-value="{{ chain_id }}">

      <!-- proxy element to store and query CSRF token for window.appConfig --->
      <meta id="csrf-token" data-value="{{ csrf_token() }}">

      <!-- proxy element to store and query artist wallet address for window.appConfig --->

      <meta id="artist_wallet_address" data-value="{{ artist.wallet_address }}">

      <div class = "release-cover-art justify-content-center mb-3">
          <img src={{ track.release_cover_art }} />
      </div>

      <p>
        <small>Released on {{ track.created_on.strftime('%#d %B %Y') }}</small>
      </p>
    </div>

    <div class="col-xl-3" id="release-dashboard-3">
      {% if track.youtube_embed_url is not none %}
        {{ youtube_embed(track.youtube_embed_url) }}
      {% endif %}

      {% if track.purchasers|length > 0 %}
        {{ display_purchasers(track.purchasers) }}
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
  window.appConfig = {
    csrf_token: $('#csrf-token').data(),
    chain_id: $('#chain_id').data(),
    artist_wallet_address: $('#artist_wallet_address').data()
  }
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/purchase_object.js') }}"></script>
<script type="text/javascript" src="{{ url_for('artists.static', filename='js/support_artist.js') }}"></script>

{% endblock %}
