{% extends "layouts/layout.html" %}
{% from 'macros/artist_jumbotron_macro.html' import artist_jumbotron with context %}

{% block title %}Musicakes | {{ artist.name }}{% endblock %}
{% block content %}

{{ artist_jumbotron() }}

<div class="album py-5">
	<meta id="page" data-page="{{ request.args.get('page')|int }}">
	<div class="container">
		<h3 class="mb-4">Releases</h3>

		{% if not artist.releases %}
		<p>There are no releases currently listed.</p>
		{% endif %}


		<div class="row">
			{% for release in artist.releases %}
	       	<div class="col-md-auto col-xs-12">
	          <div class="card mb-4 shadow-sm">
	          	<div class="bd-placeholder-img card-img-top mx-auto d-block p-2">
			    	<a class="img-fluid" href="{{ url_for('releases.show_release', release_id=release.release_id) }}">
				        {% if release.release_cover_art is none %}
				          <img class="img-fluid" id="preview" src="{{ url_for('static', filename='img/musicakes.png') }}" />
				        {% else %}
				          <img class="img-fluid rounded" src="{{ release.release_cover_art }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/musicakes.png') }}'" />
				        {% endif %}
				    </a>
				</div>
	            <div class="card-body">
	            	<p class="card-text">
	            		<div class="font-weight-bold">{{ release.release_name }}</div>
	            		<div>{{ release.artist_name }}</div>
	            		<div><small class="text-muted">{{ release.created_on.strftime('%B %Y') }}</small></div>
	            	</p>

	            	<div class="d-flex justify-content-between align-items-center">
		                <div class="btn-group">
		                  	<a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('releases.show_release', release_id=release.release_id) }}">View</a>

							{% if userinfo and creator is true %}
							<a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('releases.edit_release_form', release_id=release.release_id) }}" class="button">Edit release</a>
							{% endif %}
		                </div>

	              </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
		</div>

	</div>

</div>

<!-- proxy element to store and query ethereum chain ID for window.appConfig --->
<meta id="chain_id" data-value="{{ chain_id }}">

<!-- proxy element to store and query payment token address for window.appConfig --->
<meta id="payment_token_address" data-value="{{ payment_token_address }}">

<!-- proxy element to store and query artist wallet address for window.appConfig --->

<meta id="artist_wallet_address" data-value="{{ artist.wallet_address }}">



<script type="text/javascript">
  window.appConfig = {
    release_count: $('#release-count').data(),
    payment_token_address: $('#payment_token_address').data(),
    chain_id: $('#chain_id').data(),
    artist_wallet_address: $('#artist_wallet_address').data()
  }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/truffle-contract.js') }}"></script>

<script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

<script type="text/javascript" src="{{ url_for('artists.static', filename='js/support_artist.js') }}"></script>

{% endblock %}
